APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

###PAYPAL___JUAN###
ACCESS_TOKEN=access_token$sandbox$xw66m96jjm823238$c6e1373043d01e63c02bd4f2ef8e36ac
SANDBOX_ACCOUNT=sb-fd2fz869120@business.example.com
CLIENT_ID=AQcE7En2a-uKY0yB6zRBtaIGxJaRIUZKrxgxh6a1al59B1p8EFb6hbdWZlRzXyOfGatfk_efrHLyR1uB
SECRET=EOf5g1UCZCP02l5ZYR9IJykLAdORt7pNLh_fraW7ZwN44mL7b55b9xugL_orol92o0lH2ghY_FyfCWUK
BASE_URL_PAYPAL=https://api.sandbox.paypal.com/

###PAYPA_CONSUL###
ACCESS_TOKEN=access_token$sandbox$fr7wx6czccxc9tgr$091230326af51213bc832393131a6266
SANDBOX_ACCOUNT=consultaneo.com-facilitator@gmail.com
CLIENT_ID=AXay8GXaZWiknZoMtxwVjjoxt2NorfYsby-Zdp1rOSncJvSUKj2jffEiMNlcARBuyae4RQwPFFzlIUKx
SECRET=ENmUuMXlN5HUF0rCa86hM2Cl4L5ps3AciWpJYGfufxhSBQqWpa7aIheST93MrLFDpP7VokpiDHNaj6bQ
BASE_URL_PAYPAL=https://api.sandbox.paypal.com/

###STRIPE###
STRIPE_API_KEY=sk_test_4eC39HqLyjWDarjtT1zdp7dc
